body {
  background-color: @color-swatch1;
  margin: 0;
  padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

a {
  font-family:@font-swatch2-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  color:@color-swatch2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0 0 10px;
}

h1 {
  font-family:@font-swatch1-font-family;
  font-weight: @font-swatch1-font-weight;
  color:@font-swatch1-color;
  line-height:@font-swatch1-line-height;
  letter-spacing: @font-swatch1-letter-spacing;
  font-size: @font-swatch1-font-size;
}

h2
{
  font-family:@font-swatch2-font-family;
  font-size: @font-swatch2-font-size;
  font-weight: @font-swatch2-font-weight;
  line-height:@font-swatch2-line-height;
  color: @font-swatch2-color;
  letter-spacing: @font-swatch2-letter-spacing;
}

h3
{
  font-family:@font-swatch3-font-family;
  font-size:@font-swatch3-font-size;
  font-weight: @font-swatch3-font-weight;
  color: @font-swatch3-color;
  line-height:@font-swatch3-line-height;
  letter-spacing: @font-swatch3-letter-spacing;
}

h4
{
  font-family:@font-swatch4-font-family;
  font-size:@font-swatch4-font-size;
  font-weight:@font-swatch4-font-weight;
  line-height:@font-swatch4-line-height;
  color:@font-swatch4-color;
  letter-spacing: @font-swatch4-letter-spacing;
}

p
{
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
}

blockquote {
  background: lighten(@color-swatch5,20%);
  border-left:6px solid @color-swatch2;
  margin:0;
  padding: 14px 16px;
  quotes:"\201C""\201D""\2018""\2019";
}
  blockquote:before {
  font-family: georgia;
  color: @color-swatch2;
  content:open-quote;
  font-size:4em;
  line-height:.1em;
  margin-right:.1em;
  vertical-align:-.4em;
}
  blockquote p {
  display: inline;
  font-style: italic;
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
}


/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 2em 0;
}

/* ===============================
   HEADER
   =============================== */

header {
  padding: 40px 0 36px;
  border-bottom: 1px solid @color-swatch2;
  background-color: @color-swatch7;
}

.widget.companyheader .company-name h1 {
  font-size:(@font-swatch1-font-size * 0.6); /* 21.6px  */
  letter-spacing: 6px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.widget.companyheader {
  float: left;
  overflow-x: auto;
  overflow-y: hidden;
}

.widget.companyheader .logo {
  display: block;
  float: left;
  margin-right: 20px;
}

.widget.companyheader:before,
.widget.companyheader:after {
  content: " ";
  display: table;
}

.widget.companyheader:after {
  clear: both;
}

.widget.companyheader {
  *zoom: 1;
}

.widget.companyheader .logo img {
  max-width: 100%;
  height: auto;
}

.widget.companyheader .logo-bottom {
  display: none;
}

.widget.companyheader .company-name {
  display: block;
  float: left;
  margin-top: 4px;
}

/* ===============================
   FOOTER
   =============================== */

footer {
  background-color: darken(@color-swatch5,25%);
  padding: 4em 0 0;
  color: @color-swatch1;
}

footer h1, footer h2, footer h3, footer h4 {
  color: @color-swatch1;
}

footer h2 {
  font-size: (@font-swatch2-font-size * 0.65); /* 15.6px */
  letter-spacing: 2px;
  padding-bottom: 20px;
}

footer p {
  font-family: @font-swatch5-font-family;
  color: lighten(@color-swatch5,10%);
  line-height: 28px;
  padding-bottom: 0px;
}

footer span {
  color: #fff;
}

/* FOOTER 2 */

.footer2 {
  margin-top: 6em;
  padding: 1.3em 0 .5em;
  background-color: darken(@color-swatch5,30%);
}

.footer2 p {
  font-size: (@font-swatch5-font-size * 0.9);
  color: @color-swatch5;
}


/* ===============================
   STANDARD NAVIGATION
   =============================== */

.widget.navigation {
}

.widget.navigation ul {
  padding: 0;
  margin: 30px 0;
}

.widget.navigation ul.align-center li
{
  text-align: center;
}

.widget.navigation ul.align-left li
{
  text-align: left;
}

.widget.navigation ul.align-right li
{
  text-align: right;
}

.widget.navigation ul li {
  float: left;
  display: block;
  padding-right: 40px;
}

.widget.navigation ul li a {
  display: block;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.navigation ul li a:hover {
  text-decoration: none;
  color: @color-swatch3;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation {
  float: right;
  position: relative;
  margin-top: 16px;
}

.widget.extendednavigation ul {
  float: left;
  padding: 0;
  margin: 0px 0 0;
}

/* ALIGNMENTS */

.widget.extendednavigation ul.align-center li, .widget.extendednavigation ul.align-center li:hover ul li {
  text-align: center;
}

.widget.extendednavigation ul.align-left li, .widget.extendednavigation ul.align-left li:hover ul li
{
  text-align: left;
}

.widget.extendednavigation ul.align-right li, .widget.extendednavigation ul.align-right li:hover ul li
{
  text-align: right;
}

.widget.extendednavigation ul li {
  float: left;
  display: block;
  margin-left: 50px;
}

.widget.extendednavigation ul li:first-child {
  margin-left: 0;
}

.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 0;
  font-family:@font-swatch6-font-family;
  font-size:(@font-swatch6-font-size * 0.8); /* 12.6px  */
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  /*letter-spacing: @font-swatch6-letter-spacing;*/
  letter-spacing: 1px;
  text-transform: uppercase;
}

.widget.extendednavigation ul li a:hover {
  color: @color-swatch5;
  text-decoration: none;
}

/* SELECTED */

.widget.extendednavigation ul li.selected {
 
}

.widget.extendednavigation ul li.selected a {
  color: @color-swatch3;
}

.widget.extendednavigation ul li.selected a:hover { 
  color: @color-swatch5;
}

/* FOLDER */

.widget.extendednavigation ul li.folder {
  padding-right: 14px;
  background-image: image('/images/arrow-down.png');
  background-position: right center;
  background-repeat: no-repeat;
  height: 100%;
  cursor: pointer;
}

.widget.extendednavigation ul li.folder .text:hover {
  color: @color-swatch3;
}

/* DROPDOWN MENU */

.widget.extendednavigation li > ul {
  display: none;
}

.widget.extendednavigation li:hover > ul {
  display: block;
  width: 186px;
  position: absolute;
  background-color: @color-swatch1;
  border: 1px solid @color-swatch2;
  z-index: 500;
  margin-top: 0px;
  margin-left: -14px;
  padding-top: 8px;
}

.widget.extendednavigation li:hover > ul > li {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 0;
}

.widget.extendednavigation ul li:hover > ul li > a {
  display: block;
  background-image: none;
  padding: 14px;
  margin-left: 0;
}

.widget.extendednavigation li:hover > ul li .text {
  color: @color-swatch5;
}

.widget.extendednavigation li:hover > ul li .text:hover {
  border-bottom: 0;
  padding-bottom: 0;
  color: @color-swatch3;
}

/* ===============================
   FEATURE
   =============================== */

.widget.feature .feature-bgimg {
  height: 450px;
}

.widget.feature .content {
  display: block!important;
  padding: 2.5em 0;
  height: 450px;
  text-align: left;
}

/* FEATURE TITLE */

.widget.feature h2 span, .widget.feature h3 span {
  padding: 10px;
  display: inline-block;
  background-color: hsla(hue(@color-swatch4), saturation(@color-swatch4), lightness(lighten(@color-swatch4,10%)), 0.3); 
}

.widget.feature h3 span {
  padding: 2px 10px;
}

.widget.feature h2 {
  font-family:@font-swatch8-font-family;
  font-size:(@font-swatch8-font-size * 0.8); /* 40px  */
  font-weight: @font-swatch8-font-weight;
  line-height:@font-swatch8-line-height;
  color: @font-swatch8-color;
  letter-spacing: @font-swatch8-letter-spacing;
}

/* FEATURE STRAPLINE */

.widget.feature h3 {
  font-family:@font-swatch9-font-family;
  font-size:(@font-swatch9-font-size * 0.6); /* 35px  */
  font-weight: @font-swatch9-font-weight;
  line-height:(@font-swatch9-line-height * 0.6);
  color: @font-swatch9-color;
  letter-spacing: 1px;
  /*letter-spacing: @font-swatch9-letter-spacing;*/
}

/* FEATURE BUTTON */

.widget.feature .feature-btn {
  margin: 1em auto;
}

.widget.feature button
{
  padding: 13px 28px;
  border: 1px solid darken(@color-swatch3,5%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2);

  font-family: @font-swatch2-font-family;
  font-size: .8em;
  font-weight:@font-swatch7-font-weight;
  background-color: @color-swatch3;
  color: @color-swatch1;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}

.widget.feature button:hover
{
  background-color: darken(@color-swatch3,5%);
  cursor: pointer;
}

.widget.feature button.btn.justifyleft
{
    text-align: left;
}

.widget.feature button.btn.justifycenter
{
    text-align: center;
}

.widget.feature button.btn.justifyright
{
    text-align: right;
}

.widget.feature button.btn.justifyfull
{
    text-align: justify;
}

.widget.feature button.btn.italic {
    font-style: italic;
}

.widget.feature button.btn.bold {
    font-weight: bold;
}

.widget.feature button span {
    vertical-align: center;
}

.widget.feature button i {
    margin-right: 5px;
}

/* ===============================
   FEATURE LAYOUTS
   =============================== */

/* LEFT ALIGN */

.widget.feature.align-left .content {
  width: 100%;
  text-align: left;
}

/* CENTER ALIGN */

.widget.feature.align-center .content {
  width: 100%;
  text-align: center;
}

/* RIGHT ALIGN */

.widget.feature.align-right .content {
  width: 100%;
  text-align: right;
}

/* ===============================
   CONTENT
   =============================== */

.widget.content
{
    padding: 0;
    overflow: hidden;
}

.widget.content span.expand
{
    font-family: @font-swatch3-font-family;
    background-color: @color-swatch3;
    color: @font-swatch7-color;
    font-size: @font-swatch5-font-size;
    padding: 4px 8px;
    margin: 4px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.widget.content span.expand:hover,
.widget.content span.expand:focus
{
    cursor: pointer;
    background-color: darken(@color-swatch3,5%);
}

/* ===============================
   SLIDESHOW
   =============================== */

   .slideshow-widget .btn-prev, .slideshow-widget .btn-next
{
  display: none;
  position: absolute;
  width: 14%;
  height: 14%; 
  font-size: 0;
  z-index: 11;
  text-indent: -99999px;  
}

.slideshow-widget .btn-prev
{
  left: 10px;
  background: image('/images/slideshow-arrow-left.png') no-repeat center left;
  background-size: contain;
}

.slideshow-widget .btn-next
{
  right: 10px;
  background: image('/images/slideshow-arrow-right.png') no-repeat center right; 
    background-size: contain;   
}

.slideshow-widget:hover .btn-prev, .slideshow-widget:hover .btn-next
{
  top: 43%;
  display: block;
  cursor: pointer;
}

.slideshow-widget-controls
{
  margin-top: 10px;
  text-align: center;
}

.slideshow-empty {
    padding: 10px;
}

.slideshow-widget .btn-play
{
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  background: image('/images/slideshow-play.png') center no-repeat;
  background-size: 100%;
  width: 14%;
  height: 14%;
  top: 43%;
  left: 43%;
}

.slideshow-widget:hover .btn-play
{
  display:block;
}

.slideshow-widget:hover .btn-play.pause
{
  background: image('/images/slideshow-pause.png') center no-repeat;
  background-size: 100%;  
}

.slideshow-widget-controls .dot
{
  width: 14px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  background: image('/images/slideshow-dot-not-selected.png') center no-repeat;
}

.slideshow-widget-controls .dot.selected
{
  background: image('/images/slideshow-dot-selected.png') center no-repeat;
}

.slideshow-widget .btn-prev.disabled, .slideshow-widget .btn-next.disabled, .slideshow-widget .btn-play.disabled
{
  opacity:0.4;
  cursor: default;
}

/* ===============================
   BUTTON CSS
   =============================== */

.widget.button button
{
  padding: 4px 8px;
  margin: 2.2em auto;
  border: 1px solid darken(@color-swatch3,5%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  font-family: @font-swatch2-font-family;
  font-size: 1em;
  font-weight:@font-swatch7-font-weight;
  background-color: @color-swatch3;
  color: @color-swatch1;
  text-decoration: none;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.button button:hover 
{
    background-color: darken(@color-swatch3,5%);
    cursor: pointer;
}

/* JUSTIFY */

.widget.button button.btn.justifyleft
{
    text-align: left;
}

.widget.button button.btn.justifycenter
{
    text-align: center;
}

.widget.button button.btn.justifyright
{
    text-align: right;
}

.widget.button button.btn.justifyfull
{
    text-align: justify;
}

.widget.button button.btn.italic {
    font-style: italic;
}

.widget.button button.btn.bold {
    font-weight: bold;
}

.widget.button span {
    vertical-align: center;
}

.widget.button i {
    margin-right: 5px;
}

/* ===============================
   LINE WIDGET
   =============================== */

.widget.line {
    padding: 20px 0;
}

hr.line {
   background-color: lighten(@color-swatch5,15%);
   height: 1px;
   width: 100%;
   border: none;
}

hr.line.align-left {
   margin: 20px auto 20px 0px;
}

hr.line.align-center {
   margin: 20px auto;
}

hr.line.align-right {
   margin: 20px 0px 20px auto;
}

/* =======================================
   CLICK TO CALL - DOESN'T SHOW IN DESKTOP
   ==================================== */

.widget.clicktocall {
   display:none;
 }

.widget.clicktocall a.justifyleft
{
    text-align: left;
}

.widget.clicktocall a.justifycenter
{
    text-align: center;
}

.widget.clicktocall a.justifyright
{
    text-align: right;
}

.widget.clicktocall a.justifyfull
{
    text-align: justify;
}

.widget.clicktocall a.italic {
    font-style: italic;
}

.widget.clicktocall a.bold {
    font-weight: bold;
}

/* ===============================
   TWITTER FULL
   =============================== */

.widget.twitter {
  padding: 20px 0;
}

.widget.twitter a {
   color: @color-swatch4;
   font-size:@font-swatch5-font-size;
   text-decoration: none;
}

.widget.twitter a:hover {
    text-decoration: underline;
}

.widget.twitter ul {
    padding: 0px;
    margin: 0;
}

.widget.twitter ul li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    padding-bottom: 30px;
}

.widget.twitter ul li:last-child {
    padding-bottom: 0px;
}

.widget.twitter .twitter-profile-pic {
    float: left;
    margin-right: 20px;
}

.widget.twitter .twitter-content span.bk-full-name {
    font-family: @font-swatch4-font-family;
    color: @color-swatch3;
    font-weight: bold;
}

.widget.twitter .twitter-content bk-full-name p {
   
}


/* ===============================
   CONTACT FORM
   =============================== */

.widget.contactform form {
  background-color: @color-swatch2;
  padding: 20px;
  margin: 20px 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.widget.contactform fieldset {
    border: none;
    padding: 0;
}

.widget.contactform fieldset label {
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch5-font-size;
    font-weight:@font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: 1px;
}

.widget.contactform fieldset input {
    height: 40px;
    width: 100%;
    border: 1px solid lighten(@color-swatch4,60%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    background-color: lighten(@color-swatch2,50%);
    background-image: image('/images/form-bg.png');
    background-repeat: repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 30px;
}

.widget.contactform fieldset textarea {
    height: 100px;
    width: 100%;
    border: 1px solid lighten(@color-swatch4,60%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    background-color: lighten(@color-swatch2,50%);
    background-image: image('/images/form-bg.png');
    background-repeat: repeat;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
}

.widget.contactform fieldset button.btn {
  padding: 4px 8px;
  border: 1px solid darken(@color-swatch3,5%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  font-family: @font-swatch2-font-family;
  font-size: .9em;
  font-weight:@font-swatch7-font-weight;
  background-color: @color-swatch3;
  color: @color-swatch1;
  text-decoration: none;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.contactform fieldset button.btn:hover {
    cursor: pointer;
    background-color: darken(@color-swatch3,5%);
}

.widget.contactform fieldset button.btn.justifyleft
{
    text-align: left;
}

.widget.contactform fieldset button.btn.justifycenter
{
    text-align: center;
}

.widget.contactform fieldset button.btn.justifyright
{
    text-align: right;
}

.widget.contactform fieldset button.btn.justifyfull
{
    text-align: justify;
}

.widget.contactform fieldset button.btn.italic {
    font-style: italic;
}

.widget.contactform fieldset button.btn.bold {
    font-weight: bold;
}

/* ===============================
   REDIRECT WIDGET
   =============================== */

.widget.redirecttodesktop {
    padding: 8px 0;
}

.widget.redirecttodesktop a {
    padding-right: 30px;
    padding-top: 2px;
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-decoration: none;
    cursor: pointer;

}

.widget.redirecttodesktop a:hover, .desktop a:active {
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    text-decoration: underline;
}

/* ===============================
   TWEET THIS
   =============================== */

.widget.tweet {
   padding: 20px 0;
}

.widget.tweet a {
    background-color: darken(@color-swatch1,5%);
    color: @font-swatch5-color;
    border: darken(@color-swatch1,10%) solid 1px;
    padding: 12px 10px 12px 40px;
    background-image: image('/images/twitter.png');
    background-repeat: no-repeat;
    background-position: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 3px;
    font-family: Helvetica, arial;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-decoration: none;
    cursor: pointer;
}

.widget.tweet a:hover, .tweet a:active {
    background-color: darken(@color-swatch1,10%);
    border: darken(@color-swatch1,15%) solid 1px;
    background-image: image('/images/twitter.png');
    background-repeat: no-repeat;
    background-position: 10px;
    cursor: pointer;
}

.widget.tweet a:active {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
}

/* ===============================
   GALLERY
   =============================== */

.widget.gallery
{
}
.widget.gallery p
{
    padding: 10px;
    color: #333333;
}
.widget.gallery ul.gallery-widget
{
    display:block;
    background-color: @color-swatch2;
    margin: 0;
    padding: 20px 20px 0;
    list-style: none;
    min-height: 100px;
    color: #555555;
   
}
.widget.gallery ul.gallery-widget li
{
    display: inline-block;
    background-color: @color-swatch1;
    padding: 2%;
    text-align: center;
    overflow: hidden;
    background-position:-9999px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    width: 45%; 
    font-family: @font-swatch4-font-family;
    font-size: 12px;
    line-height: 1.5em;
}

.widget.gallery ul.gallery-widget li:nth-child(2n) {
  float: right;
}

.widget.gallery ul.gallery-widget li img {
    width: 100%;
    margin-bottom: 4px;
}
.widget.gallery ul.gallery-widget li span.title, ul.gallery-widget li span.description
{
    width: 100%;
    text-align: center;
}
.widget.gallery ul.gallery-widget li span.title.visible, ul.gallery-widget li span.description.visible
{
    display:block;
}
.widget.gallery ul.gallery-widget li span.title {
    font-weight: bold;
    display: block;
}
.widget.gallery ul.gallery-widget li span.description {
    color: lighten(@color-swatch5,2%);
}


/* ===============================
   SOCIAL BAR
   =============================== */

.widget.socialicons {
    padding: 0px;
    font-size: 12px;
    font-family:@font-swatch7-font-family;
}

.widget.socialicons a {
    text-decoration: none;
    text-indent: -9999px;
    height: 32px;
    width: 32px;
}

.widget.socialicons span a {
    display: inline-block;
    margin-right: 6px;
    background-repeat: no-repeat;
}
.widget.socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/socialicons-twitter.png');
}

.widget.socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/socialicons-linkedin.png');
}

.widget.socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/socialicons-facebook.png');
}

.widget.socialicons span.bk-socialicons-rss a {
    background-image: image('/images/socialicons-rssfeed.png');
}

.widget.socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/socialicons-googleplus.png');
}

.widget.socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/socialicons-youtube.png');
}



/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

  header {
    padding: 38px 0 0;
    border-bottom: 0;
  }

  .widget.companyheader {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  /* NAV */

  .widget.extendednavigation {
    width: 100%;
    padding: 16px 0;
    margin-top: 32px;
    border-top: 1px solid @color-swatch2;
  }
  .widget .extendednavigation {
    display: block;
    width: 100%;
  }

  .widget .extendednavigation ul {
    width: 100%;
  }

  /* FEATURE */

   .widget.feature .feature-bgimg {
    height: 300px; /* should be in media query*/
   }

  .widget.feature .content {
    height: 300px;
    padding: 3em 0;
  }

  .widget.feature h2 {
    font-size:(@font-swatch8-font-size * 0.5);
    line-height:(@font-swatch8-line-height * 0.8);
  }

  .widget.feature h3 {
    font-size:(@font-swatch9-font-size * 0.6);
  }

  .widget.feature .feature-btn button {
    font-size: .8em;
    padding: 10px;
  }

}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {

  /* COMPANY HEADER */
  .widget.companyheader .company-name h1 {
    font-size:(@font-swatch1-font-size * 0.6)
  }

  /* NAV */

  .widget.extendednavigation {
    width: 100%;
    padding: 0;
  }
  .widget .extendednavigation {
    display: block;
    width: 100%;
  }

  .widget .extendednavigation ul {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
  }

  .widget .extendednavigation ul li {
    display: block!important;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid @color-swatch2;
  }

  .widget .extendednavigation ul li a {
    padding: 1.4em 1em; 
  }

  .widget.extendednavigation ul li.selected {
    margin-right: 0;
  }

  .widget .extendednavigation ul li.selected a {
    background-color: transparent;
    padding: 1.4em 1em;
  }

  .widget .extendednavigation li:hover {
    background-color: @color-swatch2;
  }

  .widget.extendednavigation ul li.folder {
    background-image: image('/images/arrow-down-ipad.png');
    padding: 0;
  }

  .widget.extendednavigation ul li.folder .text {
    padding: 1.4em 1em;
    margin-left: 0;
  }

  .widget .extendednavigation ul li:last-child {
    border: 0;
  }

  .widget.extendednavigation li:hover > ul {
    width: 99.5%!important;
    margin-left: 0!important;
    margin-top: 0px;
    padding-top: 0!important;
  }

  .widget.extendednavigation li:hover > ul li {
    display: block!important;
    margin-bottom: 0;
    padding: 0;
  }

  .widget.extendednavigation li:hover > ul li > a {
    padding: 0!important;
  }

  .widget.extendednavigation li:hover > ul li .text:hover {
    padding: 1.4em 1em;
  }
  
  /* UL ALIGN RIGHT */
  .widget.extendednavigation ul.align-right li:hover ul li {
    text-align: right;
  }

  .widget.extendednavigation ul.align-right li.folder {
    background-position: 12px center;
  }

  /* UL ALIGN LEFT */
  .widget.extendednavigation ul.align-left li:hover ul li {
    text-align: left;
  }

  /* UL ALIGN CENTER */
  .widget.extendednavigation ul.align-center li:hover ul li {
    text-align: center;
  }

  /* FEATURE */

  .widget.feature .feature-bgimg {
    height: 220px; /* should be in media query*/
   }

  .widget.feature .content {
    height: 220px;
  }

  .widget.feature h2 {
    font-size:(@font-swatch8-font-size * 0.4); 
    line-height:(@font-swatch8-line-height * 0.5);
  }

  .widget.feature h3 {
    font-size:(@font-swatch9-font-size * 0.6);
  }

  .widget.feature button {
    display: none;
  }

  /* CLICK TO CALL */

  .widget.clicktocall a {
    background-image: image('/images/ic-desktop-call-mob.png');
    background-color: @color-swatch3;
    background-position: 10px;
    background-repeat:no-repeat;
    padding: 10px 10px 10px 38px;
    border: 0;
    margin: 2.2em auto;
    letter-spacing: 0;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    font-family: @font-swatch2-font-family;
    font-size:1em;
    font-weight:@font-swatch7-font-weight;
    color: @color-swatch1;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
  }

  .widget.clicktocall a:hover {
    background-image: image('/images/ic-desktop-call-mob.png');
    background-color: darken(@color-swatch3,5%);
    background-position: 10px;
    color: @color-swatch1;
    padding: 10px 10px 10px 38px;
    cursor: pointer;
    text-decoration: none;
  }

  .widget.clicktocall a.justifyleft {
    text-align: left;
  }

  .widget.clicktocall a.justifycenter {
    text-align: center;
  }

  .widget.clicktocall a.justifyright {
    text-align: right;
  }

  .widget.clicktocall a.justifyfull {
    text-align: justify;
  }

  .widget.clicktocall a.italic { 
    font-style: italic;
  }

  .widget.clicktocall a.bold {
    font-weight: bold;
  }

  .widget.clicktocall {
    padding: 20px 0;
    display:block;
  }

  .widget.gallery p
  {
    padding: 10px;
  }

  .widget.gallery ul.gallery-widget li
  {
    width: 96%;
  }

  /* FOOTER 2 */

  .footer2 .columns-two-left {
    margin-bottom: 0!important;
  }

  .footer2 p {
    text-align: left!important;
  }

}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}







